# ============= #
# Unity-специфичные файлы #
# ============= #

# Игнорировать временные файлы
[Tt]emp/
[Tt]emp*/

# Игнорировать файлы библиотек
[Ll]ibrary/
[Ll]ocal/
[Ss]ettings/

# Игнорировать файлы сборки
[Bb]uild/
[Bb]uilds/
[Bb]uildReports/

# Игнорировать файлы логов
[Ll]ogs/

# Игнорировать файлы Asset Store
/[Aa]ssets/AssetStoreTools*

# Игнорировать файлы кэша
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa/*
/[Aa]ssets/StreamingAssets/aa.meta

# Игнорировать файлы IDE
.vs/
.idea/
*.sln
*.csproj
*.userprefs
*.suo
*.pidb
*.csproj.user
*.unityproj.user

# Игнорировать файлы macOS
.DS_Store

# Игнорировать файлы Windows
Thumbs.db

# Игнорировать файлы Unity Collab
[Cc]ollab*/

# Игнорировать файлы автосохранения
[Aa]ssets/AutoBackup/

# Игнорировать файлы тестов
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/Plugins/Editor